@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: hanken;
  src: url("../public/fonts/HankenGrotesk-VariableFont_wght.ttf");
}
html {
  background-color: #1b1b27;
  color: #e8eaed;
  --highlight: #38bdf8;
  letter-spacing: 1px;
  font-family: hanken;
}

button:hover {
  background-color: #28293d !important;
}

input[type="text"],
input[type="email"],
textarea {
  border-radius: 0;
  border-bottom: 2px solid !important;
  background: none !important;
  background-color: #28293d !important;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline-color: var(--highlight) !important;
  outline-width: 1px !important;
}

/* ANIMATION -------------------------------------------------------------------------------- */

.animateMap {
  animation: materialize 0.3s ease-in backwards;
  @for $i from 1 through 50 {
    &:nth-child(#{$i}) {
      animation-delay: 50ms * $i;
    }
  }
}

.animateAlone {
  animation: materialize 0.3s ease-in backwards;
}

.animateTitle {
  animation: materialize 0.3s ease-in-out backwards;
}

@keyframes materialize {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
