.span {
  color: var(--highlight);
  font-weight: 700;
  font-size: large;
}
.musicPara {
  animation-delay: 0.3s;
}
.button1 {
  animation-delay: 0.5s;
}
.button2 {
  animation-delay: 0.7s;
}

.img {
  filter: grayscale(10%);
  animation-delay: 1s;
}
